In [1]:
import os
import re
import requests
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
os.getenv("seoul_api")

In [5]:
url = f"http://openapi.seoul.go.kr:8088/sample/json/VwsmAdstrdNcmCnsmpW/1/5/"
# payload = dict(KEY=os.getenv("seoul_api"), TYPE="json", SERVICE="VwsmAdstrdNcmCnsmpW", START_INDEX=1,  END_INDEX=5)
r = requests.get(url)
print(r.url)
print(r.status_code)
response = r.json()
response

http://openapi.seoul.go.kr:8088/sample/json/VwsmAdstrdNcmCnsmpW/1/5/
200

{'VwsmAdstrdNcmCnsmpW': {'list_total_count': 11050,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'STDR_YYQU_CD': '20241',
    'ADSTRD_CD': '11545690',
    'ADSTRD_CD_NM': '시흥3동',
    'MT_AVRG_INCOME_AMT': 2516251.0,
    'INCOME_SCTN_CD': '06',
    'EXPNDTR_TOTAMT': 501526000.0,
    'FDSTFFS_EXPNDTR_TOTAMT': 123149000.0,
    'CLTHS_FTWR_EXPNDTR_TOTAMT': 1842000.0,
    'LVSPL_EXPNDTR_TOTAMT': 25596000.0,
    'MCP_EXPNDTR_TOTAMT': 17315000.0,
    'TRNSPORT_EXPNDTR_TOTAMT': 189462000.0,
    'EDC_EXPNDTR_TOTAMT': 7185000.0,
    'PLESR_EXPNDTR_TOTAMT': 19648000.0,
    'LSR_CLTUR_EXPNDTR_TOTAMT': 14380000.0,
    'ETC_EXPNDTR_TOTAMT': 9216000.0,
    'FD_EXPNDTR_TOTAMT': 93733000.0},
   {'STDR_YYQU_CD': '20191',
    'ADSTRD_CD': '11110530',
    'ADSTRD_CD_NM': '사직동',
    'MT_AVRG_INCOME_AMT': 5208463.0,
    'INCOME_SCTN_CD': '09',
    'EXPNDTR_TOTAMT': 31889341000.0,
    'FDSTFFS_EXPNDTR_TOTAMT': 1238314000.0,
    'CLTHS_FTWR_EXPNDTR_TOTAMT': 158974000.0,
    'LVSPL_EXPNDTR_TOTAMT': 60281000.0,
    'MCP_EXPNDTR_TOTAMT': 586427000.0,
    'TRNSPORT_EXPNDTR_TOTAMT': 188458000.0,
    'EDC_EXPNDTR_TOTAMT': 169234000.0,
    'PLESR_EXPNDTR_TOTAMT': 293797000.0,
    'LSR_CLTUR_EXPNDTR_TOTAMT': 1241791000.0,
    'ETC_EXPNDTR_TOTAMT': 23670438000.0,
    'FD_EXPNDTR_TOTAMT': 4281627000.0},
   {'STDR_YYQU_CD': '20191',
    'ADSTRD_CD': '11110615',
    'ADSTRD_CD_NM': '종로1·2·3·4가동',
    'MT_AVRG_INCOME_AMT': 3350350.0,
    'INCOME_SCTN_CD': '07',
    'EXPNDTR_TOTAMT': 77584610000.0,
    'FDSTFFS_EXPNDTR_TOTAMT': 3618998000.0,
    'CLTHS_FTWR_EXPNDTR_TOTAMT': 7478066000.0,
    'LVSPL_EXPNDTR_TOTAMT': 861970000.0,
    'MCP_EXPNDTR_TOTAMT': 4123252000.0,
    'TRNSPORT_EXPNDTR_TOTAMT': 3236609000.0,
    'EDC_EXPNDTR_TOTAMT': 2062644000.0,
    'PLESR_EXPNDTR_TOTAMT': 2398515000.0,
    'LSR_CLTUR_EXPNDTR_TOTAMT': 13520753000.0,
    'ETC_EXPNDTR_TOTAMT': 23729021000.0,
    'FD_EXPNDTR_TOTAMT': 16554782000.0},
   {'STDR_YYQU_CD': '20191',
    'ADSTRD_CD': '11110650',
    'ADSTRD_CD_NM': '혜화동',
    'MT_AVRG_INCOME_AMT': 3472006.0,
    'INCOME_SCTN_CD': '07',
    'EXPNDTR_TOTAMT': 7826497000.0,
    'FDSTFFS_EXPNDTR_TOTAMT': 1354887000.0,
    'CLTHS_FTWR_EXPNDTR_TOTAMT': 215665000.0,
    'LVSPL_EXPNDTR_TOTAMT': 77222000.0,
    'MCP_EXPNDTR_TOTAMT': 1129580000.0,
    'TRNSPORT_EXPNDTR_TOTAMT': 20145000.0,
    'EDC_EXPNDTR_TOTAMT': 195279000.0,
    'PLESR_EXPNDTR_TOTAMT': 415196000.0,
    'LSR_CLTUR_EXPNDTR_TOTAMT': 565923000.0,
    'ETC_EXPNDTR_TOTAMT': 361926000.0,
    'FD_EXPNDTR_TOTAMT': 3490674000.0},
   {'STDR_YYQU_CD': '20191',
    'ADSTRD_CD': '11110680',
    'ADSTRD_CD_NM': '창신2동',
    'MT_AVRG_INCOME_AMT': 2179485.0,
    'INCOME_SCTN_CD': '05',
    'EXPNDTR_TOTAMT': 670987000.0,
    'FDSTFFS_EXPNDTR_TOTAMT': 143195000.0,
    'CLTHS_FTWR_EXPNDTR_TOTAMT': 23323000.0,
    'LVSPL_EXPNDTR_TOTAMT': 11149000.0,
    'MCP_EXPNDTR_TOTAMT': 142754000.0,
    'TRNSPORT_EXPNDTR_TOTAMT': 945000.0,
    'EDC_EXPNDTR_TOTAMT': 0.0,
    'PLESR_EXPNDTR_TOTAMT': 17411000.0,
    'LSR_CLTUR_EXPNDTR_TOTAMT': 32513000.0,
    'ETC_EXPNDTR_TOTAMT': 18104000.0,
    'FD_EXPNDTR_TOTAMT': 281593000.0}]}}

In [6]:
response.keys()

dict_keys(['VwsmAdstrdNcmCnsmpW'])

In [8]:
response["VwsmAdstrdNcmCnsmpW"]['list_total_count']

11050

In [9]:
len(response["VwsmAdstrdNcmCnsmpW"]['row'])

5

In [10]:
response["VwsmAdstrdNcmCnsmpW"]['row'][0]

{'STDR_YYQU_CD': '20241',
 'ADSTRD_CD': '11545690',
 'ADSTRD_CD_NM': '시흥3동',
 'MT_AVRG_INCOME_AMT': 2516251.0,
 'INCOME_SCTN_CD': '06',
 'EXPNDTR_TOTAMT': 501526000.0,
 'FDSTFFS_EXPNDTR_TOTAMT': 123149000.0,
 'CLTHS_FTWR_EXPNDTR_TOTAMT': 1842000.0,
 'LVSPL_EXPNDTR_TOTAMT': 25596000.0,
 'MCP_EXPNDTR_TOTAMT': 17315000.0,
 'TRNSPORT_EXPNDTR_TOTAMT': 189462000.0,
 'EDC_EXPNDTR_TOTAMT': 7185000.0,
 'PLESR_EXPNDTR_TOTAMT': 19648000.0,
 'LSR_CLTUR_EXPNDTR_TOTAMT': 14380000.0,
 'ETC_EXPNDTR_TOTAMT': 9216000.0,
 'FD_EXPNDTR_TOTAMT': 93733000.0}

In [11]:
response["VwsmAdstrdNcmCnsmpW"]['row'][0]

{'STDR_YYQU_CD': '20241',
 'ADSTRD_CD': '11545690',
 'ADSTRD_CD_NM': '시흥3동',
 'MT_AVRG_INCOME_AMT': 2516251.0,
 'INCOME_SCTN_CD': '06',
 'EXPNDTR_TOTAMT': 501526000.0,
 'FDSTFFS_EXPNDTR_TOTAMT': 123149000.0,
 'CLTHS_FTWR_EXPNDTR_TOTAMT': 1842000.0,
 'LVSPL_EXPNDTR_TOTAMT': 25596000.0,
 'MCP_EXPNDTR_TOTAMT': 17315000.0,
 'TRNSPORT_EXPNDTR_TOTAMT': 189462000.0,
 'EDC_EXPNDTR_TOTAMT': 7185000.0,
 'PLESR_EXPNDTR_TOTAMT': 19648000.0,
 'LSR_CLTUR_EXPNDTR_TOTAMT': 14380000.0,
 'ETC_EXPNDTR_TOTAMT': 9216000.0,
 'FD_EXPNDTR_TOTAMT': 93733000.0}

In [12]:
kor_cols = ["기준_년분기_코드",
"행정동_코드",
"행정동_코드_명",
"월_평균_소득_금액",
"소득_구간_코드",
"지출_총금액",
"식료품_지출_총금액",
"의류_신발_지출_총금액",
"생활용품_지출_총금액",
"의료비_지출_총금액",
"교통_지출_총금액",
"교육_지출_총금액",
"유흥_지출_총금액",
"여가_문화_지출_총금액",
"기타_지출_총금액",
"음식_지출_총금액"]

In [13]:
result = {}
for item in response["VwsmAdstrdNcmCnsmpW"]['row']:
    for key, value in zip(kor_cols, item.values()):
        if type(value) == float:
            result.setdefault(key, []).append(int(value))
        else:
            result.setdefault(key, []).append(value)
df = pd.DataFrame(result)
df

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
0,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
1,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
2,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
3,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
4,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000

# 전체 데이터 수집

In [14]:
import os
import re
import requests
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
from dotenv import load_dotenv
load_dotenv()

True

In [18]:
start = 1
end = 1000
page = 1
total_page = 1
result = {}
while page <= total_page:
    url = f"http://openapi.seoul.go.kr:8088/sample/json/VwsmAdstrdNcmCnsmpW/1/5/"
    r = requests.get(url)
#     print(r.url)
#     print(r.status_code)
    response = r.json()
    if total_page ==1:
        total_page = response["VwsmAdstrdNcmCnsmpW"]['list_total_count'] // 1000 + 1
        
    kor_cols = ["기준_년분기_코드", "행정동_코드", "행정동_코드_명", "월_평균_소득_금액",
                "소득_구간_코드", "지출_총금액", "식료품_지출_총금액", "의류_신발_지출_총금액",
                "생활용품_지출_총금액", "의료비_지출_총금액", "교통_지출_총금액",
                "교육_지출_총금액", "유흥_지출_총금액", "여가_문화_지출_총금액",
                "기타_지출_총금액", "음식_지출_총금액"]
    
    for item in response["VwsmAdstrdNcmCnsmpW"]['row']:
        for key, value in zip(kor_cols, item.values()):
            if type(value) == float:
                result.setdefault(key, []).append(int(value))
            else:
                result.setdefault(key, []).append(value)
    
    print(f"{page}/{total_page}데이터 수집중", end="\r")
#     print(f"{start}, {end}")
    start += 1000
    end += 1000
    page += 1
    
df = pd.DataFrame(result)
df

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
0,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
1,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
2,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
3,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
4,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
5,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
6,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
7,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
8,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
9,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
10,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
11,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
12,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
13,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
14,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
15,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
16,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
17,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
18,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
19,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
20,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
21,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
22,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
23,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
24,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
25,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
26,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
27,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
28,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
29,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
30,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
31,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
32,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
33,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
34,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
35,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
36,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
37,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
38,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
39,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
40,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
41,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
42,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
43,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
44,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
45,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
46,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
47,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
48,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
49,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
50,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
51,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
52,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
53,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
54,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
55,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
56,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
57,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
58,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
59,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000