# 변수
* 자료를 담는 택배상자
* 택배상자에는 자료를 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 or \_영문자 로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썬에서 사용하고 있는 함수명, 문법용 단어 ex)for, list, if, id)**는 변수명으로 사용x
  * **주의!!** 파이썬에서는 예약어를 써도 변수가 만들어진다.
  * 예약어로 변수를 만들지 않도록 주의!!
 * 변수명은 스네이크 표기법으로 작성한다. ex)user_name

In [3]:
a = 1

In [4]:
print(a)

1

In [5]:
b = 2

In [6]:
print(b)

2

In [7]:
id(a)

2036954655024

In [8]:
id(b)

2036954655056

In [9]:
# id = 10

In [10]:
# print(id)

10

In [11]:
id(b)

TypeError: 'int' object is not callable

In [1]:
# 변수명 작성하기
zmalqp12345 = 10

In [2]:
zmalqp12345

10

In [3]:
10a = 10

SyntaxError: invalid syntax (1883882313.py, line 1)

In [4]:
$a = 1

SyntaxError: invalid syntax (875084040.py, line 1)

In [5]:
-a = 1

SyntaxError: cannot assign to operator (3337602241.py, line 1)

In [6]:
_a = 1

In [8]:
# 변수명을 2단어 이상으로 만들 때는 _로 연결하는 스네이크 표기법을 쓴다.
user_name = "홍길동"
user_name

'홍길동'

In [9]:
# 변수명은 변수명만으로 안에 무엇이 있을지 예측 가능해야 한다.
all_reviews = "모든 리뷰"

In [11]:
review_one = "리뷰 한 개"

In [12]:
hap = 0

In [13]:
# 변수 지우기 del
print(hap)

0

In [14]:
del hap

In [15]:
print(hap)

NameError: name 'hap' is not defined

여러개의 변수 동시에 만들고 자료 입력하기

In [16]:
a = 1
b = 2

In [17]:
a, b, c = 1, 2, 3

In [18]:
print(a, b, c)

1 2 3

In [19]:
a, b, c = [5, 6, 7]

In [20]:
print(a, b, c)

5 6 7

In [21]:
a, b, c = (8, 9, 10)

In [22]:
print(a, b, c)

8 9 10

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소수점이 없는 숫자)
* float: 실수(소수점이 있는 숫자)
* str: 문자 / 문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음 [자료]
* tuple: list와 비슷하나 한 번 만들면 수정x, 모든 자료형을 넣어 만들 수 있음 (자료)
* dictionary(dict): key:value 쌍으로 이루어진 자료형, 모든 자료형을 넣어 만들 수 있음 {key:value}
* set: 집합자료형, 자료의 중복이 되지 않음 {자료}

# 데이터 타입을 출력하는 함수 type(변수)

# 1. 정수형 변수(int)

In [23]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

# 2. 실수형 변수(float)

In [24]:
b= 3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 3. 문자형 변수(str)
* 문자형 데이터는 반드시 따옴표 \', \" 안에 작성
* 문자: 문자 1개
* 문자열: 문자가 여러개 있는 것, **열** 즉, **순서** 가 있다.

In [25]:
c = "문"
print(c)

문

In [26]:
c = '문'
print(c)

문

In [33]:
c = "문자열"
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 변수명[번호] 형태로 해당 위치의 문자를 출력/추출 가능

In [27]:
c

'문'

In [30]:
c[0]

'문'

In [34]:
c[1]

'자'

In [35]:
c[2]

'열'

In [37]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고 줄바꿈을 할 수 있다."

In [38]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈 할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [39]:
long_char2 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고 줄바꿈을 할 수 있다."

In [40]:
print(long_char2)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈 할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [41]:
long_char3 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고 줄바꿈을 할 수 있다."

SyntaxError: EOL while scanning string literal (3637509082.py, line 1)

In [42]:
# 출력시 줄바꿈을 하고 싶을때 \n
long_char4 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n \
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고 \n \
줄바꿈을 할 수 있다."

In [43]:
print(long_char4)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
 만약 줄바꿈을 하고 싶다면 \를 줄바꿈 할 곳 끝에 넣고
 줄바꿈을 할 수 있다.

# 이스케이프 문자 없이 줄바꿈하며 입력하고 싶을 때
# """ """, "' "'

In [44]:
long_char5 = """문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고
줄바꿈을 할 수 있다."""

In [45]:
print(long_char5)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈 할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [46]:
long_char6 = '''문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고
줄바꿈을 할 수 있다.'''

In [47]:
print(long_char6)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈 할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [48]:
long_char6

'문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.\n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈 할 곳 끝에 넣고\n줄바꿈을 할 수 있다.'

# 문자열의 길이 재기 len(문자열 / 변수)

In [50]:
len()

SyntaxError: EOL while scanning string literal (2040648573.py, line 1)

# 문자열의 번호(index)는 길이 -1

# 문자의 덧셈, 곱셉
* 문자의 덧셈: 붙이기
* 문자의 곱셈: 반복

In [54]:
c = "python"
d = "쉬워요"

In [55]:
print(c, d)

python 쉬워요

In [56]:
e = c + d
print(e)

python쉬워요

In [60]:
# 문자 + 문자2 == 문자문자2
f = c + " " + d
print(f)

python 쉬워요

In [62]:
# 문자 곱셈 == 문자의 반복
a = "*"
b = "Hello World"
print(a*11)
print(b)
print(a*11)

***********
Hello World
***********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱: 문자열에 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그 위치의 문자를 출력하는 것.
    * 변수[숫자]
* 슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것.
    * 변수[시작번호: 끝번호 + 1: 간격]

In [65]:
sliceing = "슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것"

In [66]:
sliceing[0]

'슬'

In [67]:
sliceing[6:10]

'문자열에'

In [69]:
sliceing[::2]

'슬이:문열 여 덱 호 위 어 져는것'

# 리스트 list
* 리스트는 [] 안에 정수, 실수, 문자/ 문자열, 리스트, 튜플, 딕셔너리 를 모두 넣어서 만든다.
* 리스트는 여러가지 자료가 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가/삭제가 가능

In [70]:
a = [1, 3.5, "삼", "사십오", [1,2,3], (4,5,6), {"key": "value"}]

In [71]:
print(a)

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [73]:
print(a[3])

사십오

In [74]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [75]:
print(type(a))

<class 'list'>

In [76]:
print(type(a[2]))

<class 'str'>

# 리스트 안에 리스트/튜플이 있는 경우는?

In [77]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [78]:
a[3][2]

'오'

In [80]:
a[4][2]

3

# 중첩리스트

In [83]:
b = [1, 3.5, "삼", "사십오", [1,2,[4,5,[7,8,9],10]], (4,5,6),{"key": "value"}]

In [91]:
b[4][2][2][2]

9

# len 함수로 리스트 길이 구하기

In [92]:
len(b)

7

In [94]:
len(b[4][2])

4

# 리스트에 자료 추가하기 .append(자료)
* append로 추가된 자료는 리스트의 가장 마지막에 추가 됨

In [95]:
b.append(99)

In [100]:
b.append((1,2,3))
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 ['일', '이', '삼'],
 (1, 2, 3)]

In [97]:
b.append(["일", "이", "삼"])

In [99]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 ['일', '이', '삼']]

In [101]:
b.append({"key2":"value2"})
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 ['일', '이', '삼'],
 (1, 2, 3),
 {'key2': 'value2'}]

In [102]:
del b[9]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 ['일', '이', '삼'],
 {'key2': 'value2'}]

# 튜플 tuple
* 여러가지 자료를()안에 넣어서 만드는 자료형
* 모든 data type의 자료를 넣을 수 있다.

In [103]:
t = (1,)

In [104]:
t

(1,)

In [105]:
t2 = (2)
t2

2

In [106]:
print(type(t), type(t2))

<class 'tuple'> <class 'int'>

In [108]:
t3 = (1, 2.5, "문", "문자열", [3,4,5], [5,6,7], {'key': 'value'})

In [110]:
t3[4][1]

4

# 딕셔너리에 자료 추가/삭제하기
* 자료추가
    * 변수명['새로운 key'] = 새 자료 **key가 중복되면 안됨, 중복될 경우 나중 값으로 덮어쓰기 됨**
* 자료삭제
    * del 변수명['key']

In [112]:
dic2 = {'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [113]:
dic2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [114]:
dic2['좋아하는 음식'] = ['자장면', "짬뽕", '볶음밥']

In [115]:
dic2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}],
 '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [116]:
del dic2['가족']

In [117]:
dic2

{'좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

# 형변환 함수
* data type을 다른 data type으로 바꾸는 것
* int, float, str, list, tuple, dict

In [118]:
a = 3.14

In [119]:
print(a, type(a))

3.14 <class 'float'>

In [121]:
print(int(a), type(int(a)))

3 <class 'int'>

In [122]:
b = "3"
print(b, type(b))

3 <class 'str'>

In [123]:
b

'3'

In [124]:
int(a)

3

# float() 정수나 문자를 실수로 형변환

In [125]:
c = 200
print(c, type(c))

200 <class 'int'>

In [126]:
print(float(c), type(float(c)))

200.0 <class 'float'>

In [129]:
c = float(c)

In [130]:
c

200.0

In [131]:
d = "3.14"
print(d, type(d))

3.14 <class 'str'>

In [132]:
d = float(d)
print(d, type(d))

3.14 <class 'float'>

## str() 숫자나 다른 자료형을 문자로 변환

In [133]:
a = 10
b = 34.5
c = [1,2,4, "오"]
d = ("육", 7, 8.5, 9)
e = {3 : [1,2,3]}

In [134]:
str(a)

'10'

# list() 투플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [141]:
print(d, list(d), type(list(d)))

('육', 7, 8.5, 9) ['육', 7, 8.5, 9] <class 'list'>

In [142]:
c = str(c)
print(c, type(c))

[1, 2, 4, '오'] <class 'str'>

In [145]:
print(list(c), type(list(c)))

['[', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ']'] <class 'list'>

# 연산자의 종류

## 산술연산자 +, -, *, /, %, //, **

In [147]:
# 덧셈
1 + 1

2

In [148]:
# 뺄셈
3 - 2

1

In [149]:
a = 3
b = 2

In [151]:
# 나머지 연산자 % 나눈 후 나머지만 출력
print(a / b)
print(a % b)

1.5
1