#input(): 키보드 입력을 받는 함수
* input("화면에 표시할 메시지")
* 입력 받는 값은 " " (공백)으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열로 받음

In [1]:
name = input("이름을 입력해 주세요")
print(name)

이름을 입력해 주세요홍길동 둘리
홍길동 둘리

In [2]:
name

'홍길동 둘리'

In [3]:
print(type(name))

<class 'str'>

In [4]:
nums = input("숫자를 3개 입력해 주세요")
print(nums, type(nums))

숫자를 3개 입력해 주세요10 20 30
10 20 30 <class 'str'>

In [5]:
nums

'10 20 30'

# input().split()으로 여러 데이터를 list 형태로 받기
* split 함수는 공백(구분자)을 기준으로 자료를 나누어 list로 만들어줌

In [6]:
nums = input("숫자를 3개 입력해 주세요").split()
print(nums, type(nums))

숫자를 3개 입력해 주세요10 20 30
['10', '20', '30'] <class 'list'>

In [8]:
nums[2]

'30'

In [11]:
int(nums[0]) + int(nums[1])

30

In [12]:
num1, num2, num3 = input("숫자를 3개 입력해 주세요").split()
print(num1, num2, num3, type(num1), type(num2), type(num3))

숫자를 3개 입력해 주세요10 20 30
10 20 30 <class 'str'> <class 'str'> <class 'str'>

In [14]:
num1, num2, _  = input("숫자를 3개 입력해 주세요").split()
print(num1, num2, type(num1), type(num2))

숫자를 3개 입력해 주세요10 20 30
10 20 <class 'str'> <class 'str'>

# 문자열과 문자열 함수

## 인덱싱과 슬라이싱
* 문자: 글자 1개
* 문자열: 글자가 여러개 => 순서가 있다. => 앞에서부터 0, 1, 2.. 순으로 번호가 매겨짐
* 순서가 있는 자료는 번호를 불러서 그 번호에 해당하는 자료를 꺼낼 수 있다.

* 인덱싱 변수명 [인덱스번호] 로 자료 1개를 꺼내는 것

In [15]:
h1 = "문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h1)

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [16]:
# h1변수에서 인덱스 10번의 자료를 추출하세요.
h1[10]

'번'

* 슬라이싱 변수명 [시작인덱스:끝인덱스+1: 간격]
* 시작인덱스와 끝 인덱스는 생략 가능
    * [:10] => 시작부터 9번인덱스까지 슬라이스
    * [5:] => 인덱스 5번부터 시작해서 끝까지 슬라이스
    * [:] => 전체를 다 가져와라.
    * [::2] => 전체 자료에서 2칸 씩 건너 뛰면서 슬라이스
    * [::-1] => 전체 자료를 역순 정렬

In [18]:
# h1에서 "번호를"만 추출하세요
h1[10:13]

'번호를'

In [20]:
# 인덱스 0번부터 15번까지 추출하세여
h1[0:16]

'문자열은 왼쪽부터 번호를 매길'

In [21]:
# 인덱스 15번부터 끝까지 추출하세요
h1[15:]

'길 수 있으며 시작은 0번부터 입니다.'

In [24]:
# 인덱스 1번부터 끝까지 2칸 씩 건너 뛰면서 추출하세요
h1[1::2]

'자은왼부 호 길수있며시은0부 니.'

In [25]:
# h1의 자료를 역순 정렬하세요
h1[::-1]

'.다니입 터부번0 은작시 며으있 수 길매 를호번 터부쪽왼 은열자문'

# 문자열 함수
* replace(): 값을 찾아서 바꾸는 함수
* split(): 공백을 기준으로 자료를 나눠서 **리스트로 변형**
* join(): 기준자를 통해서 리스트를 하나의 **문자열로 변형**
* strip(): 문자열 외부의 공백 제거, 공백+특수문자 제거

## 문자열 바꾸기 replace(찾을 값, 바꿀 값, 반복횟수-1)
* replace 함수는 사용 후 결과는 재할당 해야 함.

In [26]:
h2 = "He!ll!o Python!"
h2

'He!ll!o Python!'

In [27]:
h2.replace("!", "")

'Hello Python'

In [28]:
h2 = h2.replace("!", "", 2)
h2

'Hello Python!'

In [30]:
h3 = "He!ll!o# Pyt#hon!"
h3

'He!ll!o# Pyt#hon!'

## 함수의 체인메서드 함수를 . 으로 연결해 중첩사용

In [33]:
# h3에서 !와 #을 없애고 마지막 ! 는 남겨두세요.
h3 = h3.replace("!", "", 2).replace("#", "")
h3

'Hello Python!'

## split()
* 공백을 기준으로 자료를 나눠서 list로 만들어줌
* 구분자를 따로 지정해서 사용 가능

In [36]:
h4 = "문자열은 왼쪽부터 번호를 매길 수 있어요."
h4_list = h4.split()
h4_list

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있어요.']

In [38]:
h5 = "문자열은, 왼쪽부터, 번호를, 매길, 수, 있어요."
h5_list = h5.split(",")
h5_list

['문자열은', ' 왼쪽부터', ' 번호를', ' 매길', ' 수', ' 있어요.']

In [40]:
len(h5_list[1])

5

In [41]:
h5 = "문자열은, 왼쪽부터, 번호를, 매길, 수, 있어요."
h5_list = h5.split(", ")
h5_list

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있어요.']

## join()
* 리스트, 튜플을 하나의 문자열로 만들어주는 함수
* 합칠기준.join(list/tuple)

In [42]:
h5_list

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있어요.']

In [43]:
# 공백을 구분자로 해서 합치기
" ".join(h5_list)

'문자열은 왼쪽부터 번호를 매길 수 있어요.'

In [45]:
# join도 재할당을 해야지 저장됨
h5_list

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있어요.']

In [46]:
# : 을 구분자로 해서 합치기
" : ".join(h5_list)

'문자열은 : 왼쪽부터 : 번호를 : 매길 : 수 : 있어요.'

# strip()
* 문자열의 양쪽 공백과 특정문자 제거
* lstrip(): 왼쪽 공백 삭제
* rstrip(): 오른쪽 공백 삭제
* strip(): 양쪽 공백 삭제

In [47]:
h6 = "    공백이 있는 문자열    "
h6

'    공백이 있는 문자열    '

In [48]:
h6.lstrip()

'공백이 있는 문자열    '

In [49]:
h6.rstrip()

'    공백이 있는 문자열'

In [50]:
h6.strip()

'공백이 있는 문자열'

* 공백과 특수문자가 섞여 있는 경우 strip("지울문자+공백")

In [51]:
h7 = "...,    공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  "
h7

'...,    공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [52]:
h7.lstrip()

'...,    공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [54]:
h7.lstrip("., ")

'공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [55]:
h7.strip("., !^ㅋ")

'공백과 특수문자가 같이 있는 문자열'

In [56]:
h8 = "...,    공백과 특수문자^$가 같이 있!ㅋ는 문자열 !! ^^ ㅋㅋㅋㅋ  "
h8

'...,    공백과 특수문자^$가 같이 있!ㅋ는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [60]:
h8.replace("^", "").replace("$", "").replace("!", "").replace("ㅋ", "").strip("., ")

'공백과 특수문자가 같이 있는 문자열'

In [61]:
h9 = "...,    공백과 특수문자^$가\t 같이 있!ㅋ는\n 문자열 !! ^^ ㅋㅋㅋㅋ  "
h9

'...,    공백과 특수문자^$가\t 같이 있!ㅋ는\n 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [62]:
print(h9)

...,    공백과 특수문자^$가	 같이 있!ㅋ는
 문자열 !! ^^ ㅋㅋㅋㅋ

In [63]:
h9.replace("\n", "").replace("\t", "").replace("^", "").replace("$", "").replace("!", "").replace("ㅋ", "").strip("., ")

'공백과 특수문자가 같이 있는 문자열'

# 소문자/대문자 변환 함수
* upper(): 모두 대문자로 만드는 함수
* lower(): 모두 소문자로 만드는 함수

# 문자열 함수 연습
* 아래의 문자열에서 리뷰 글 부분만 추출해서 1개의 문자열 만들고 .! ^^ 등의 특수문자를 제거하세요. 문자열 양옆의 공백도 제거하세요.
* 리뷰 글 부분만 추출
* 1개의 문장으로 만들기
* 문자열 함수를 이용해 특수문자와 불필요한 공백 지우기

In [3]:
test1 = '''344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'''

In [4]:
test1 = test1.split(",")

In [6]:
test2= "18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!"

In [13]:
test2= " ".join(test2.split(",")[7:])
test2

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸  바까지 모두 이용했는데 서비스 좋았습니다~~!'

# translate + str.maketrans + string.punctuation
* translate(str.maketrans(찾을문자, 바꿀문자, 그 외 없앨 문자))

In [14]:
exam = "abced"
exam

'abced'

In [16]:
exam.translate(str.maketrans('ace', 'xyz', 'bd'))

'xyz'

In [17]:
import string

In [19]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
test2 = test2.translate(str.maketrans("","", string.punctuation)).replace("  ", " ")

In [25]:
test2

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요 룸컨디션 너무 좋았고 뷰가 최고였습니다 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다 이점 좀 아쉬워요 그 외에는 다이닝룸 리빙룸 바까지 모두 이용했는데 서비스 좋았습니다'

In [26]:
test3 = """112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.
아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.
실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 
라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.
매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.
다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. 
매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요
조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다."""

In [27]:
test3 = " ".join(test3.split(",")[7:])
test3

'넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.\n아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서  주변에 식당이나 까페  편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.\n실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ \n라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.\n매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.\n다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. \n매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요\n조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.'

# 정규표현식
* 정규표현식: 문자의 패턴을 찾아서 치환하거나 그 패턴에 맞는 것만 추출
* import re
* re.sub(r'[^가-힣a-zA-Z0-9]', " ", 처리할 문자변수)

In [28]:
import re

In [29]:
text = "안녕하세요!~ This is a test.  1234 #$%^()"

In [33]:
re.sub(r'[^가-힣a-zA-Z0-9]', " ", text).replace("   ", " ").strip()

'안녕하세요 This is a test 1234'

In [38]:
test3 = re.sub(r'[^가-힣a-zA-Z0-9]', " ", test3).replace("  ", " ").replace("  ", " ").strip().replace("1 5리터", "1.5리터")

In [39]:
test3

'넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요 조용하고 한적하게 잘 쉬었어요 아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서 주변에 식당이나 까페 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다 실내 수영장은 생각만큼 작은 규모라 오히려 사람 없이 잘 놀았어요 라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요 매일 주시는 1.5리터 생수 별거 아닐수 있지만 매우 감사했구요 다만 층수가 낮은 방이어서 그런가 모기가 있었어요  그외에는 다 깨끗했구요 매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요 다행히 세미온돌이라 바닥에서 자는게 오히려 나았고요 조식은 최근 후기가 다 별로라길래 하루만 가봤는데 역시 뭐 저렴하기도 하지만 저는 나가서 먹었습니다'