# 서식 지정자, format 메서드
* 문자열로만 입력해야 하는 상황에서 같은 위치에 문자를 여러 번 바꿔야 할 때 사용
* 문자의 자리수 맞춤, 위치 정렬에도 사용
* 문자열 사이에 변수에 담긴 내용을 함께 출력할 때 사용

# 1. 서식 지정자 %d, %s, %f, %길이s

## 1) 문자를 입력할 때 %s

In [1]:
print("이 수업의 이름은 %s 입니다." % "국어")

이 수업의 이름은 국어 입니다.

In [2]:
for i in ['국어', "수학", "사회", "영어"]:
    print("이 수업의 이름은 %s 입니다." % i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

## 2) 정수를 입력할 때 %d

In [3]:
print("올해는 %d년 입니다." % 2025)

올해는 2025년 입니다.

In [4]:
print("올해는 %d년 입니다." % 25.25)

올해는 25년 입니다.

## 3) 실수를 입력할 때 %f 기본 소수점 6자리로 표시

In [5]:
print("사람의 정상 체온은 약 %f도 입니다." % 36.5)

사람의 정상 체온은 약 36.500000도 입니다.

* 소수점 표기를 조절할 때 %. 소수점자리수f ex) %.2f <- 소수점 2자리까지 표시

In [6]:
print("사람의 정상 체온은 약 %.2f도 입니다." % 36.5)

사람의 정상 체온은 약 36.50도 입니다.

In [7]:
print("사람의 정상 체온은 약 %.1f도 입니다." % 36.5)

사람의 정상 체온은 약 36.5도 입니다.

## 4) 서식 지정자로 문자열 길이, 정렬 %길이s
* %3s <- 3자리로 표시

In [8]:
print("%3s" % "01")

 01

In [9]:
"%3s" % "01"

' 01'

In [10]:
"%4s" % "01"

'  01'

In [11]:
print(15000)
print(150000)

15000
150000

In [12]:
print("가격은 %10d 입니다." %15000)
print("가격은 %10d 입니다." %150000)

가격은      15000 입니다.
가격은     150000 입니다.

## 5) 여러 항목 동시에 넣기

In [13]:
print("오늘은 %4d년 %2d월 %2d일 입니다." % (2025, 9, 24))

오늘은 2025년  9월 24일 입니다.

In [14]:
company = ["삼성전자", "LG전자", "현대차", "대한항공", "하나투어"]
stock_price = [71800, 12100, 195000, 31900, 86600]

In [15]:
for com, st in zip(company, stock_price):
    print("%s의 주가는 %d원 입니다." % (com, st))

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 12100원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

In [16]:
for com_st in zip(company, stock_price):
    print(com_st)
    print("%s의 주가는 %d원 입니다." % com_st)

('삼성전자', 71800)
삼성전자의 주가는 71800원 입니다.
('LG전자', 12100)
LG전자의 주가는 12100원 입니다.
('현대차', 195000)
현대차의 주가는 195000원 입니다.
('대한항공', 31900)
대한항공의 주가는 31900원 입니다.
('하나투어', 86600)
하나투어의 주가는 86600원 입니다.

# 2. format 메서드 사용하기, f-strint 문자열 포메팅

## 1) format 메서드 사용하기
* "문자열 {인덱스 번호} 문자열 끝".format(값1, 값2)
* .format(값1, 값2) => 값1=0, 값2=1

In [17]:
print("{}의 주가는 {}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [18]:
print("{1}의 주가는 {0}입니다.".format('삼성전자', 71800))

71800의 주가는 삼성전자입니다.

In [19]:
print("{0}의 주가는 {0}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 삼성전자입니다.

In [20]:
print("{0}의 주가는 {1}원입니다.\n{0}의 상한가는 {3}원입니다.\n{0}의 하한가는 {2}원입니다.".format("삼성전자", 71500, 50200, 93000))

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000원입니다.
삼성전자의 하한가는 50200원입니다.

## 2) f-string 포메팅 python 3.6부터 사용 가능

In [21]:
company

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']

In [22]:
stock_price

[71800, 12100, 195000, 31900, 86600]

In [23]:
print("{}의 주가는 {}원 입니다.".format(company[2], stock_price[2]))

현대차의 주가는 195000원 입니다.

In [24]:
print(f"{company[2]}의 주가는 {stock_price[2]}원 입니다.")

현대차의 주가는 195000원 입니다.

In [25]:
print(f"{'삼성전자'}의 주가는 {71500}원입니다.\n{'삼성전자'}의 상한가는 {93000}원입니다.\n{'삼성전자'}의 하한가는 {50200}원입니다.")

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000원입니다.
삼성전자의 하한가는 50200원입니다.

In [26]:
sam = "삼성전자"
sto = 71800
low = 50200
high = 93000
print(f"{sam}의 주가는 {sto}원입니다.\n{sam}의 상한가는 {high}원입니다.\n{sam}의 하한가는 {low}입니다.")

삼성전자의 주가는 71800원입니다.
삼성전자의 상한가는 93000원입니다.
삼성전자의 하한가는 50200입니다.

# 3. format메서드와 f-string으로 문자열 정렬하기, 자리수 지정해 출력하기
* "{인덱스:<길이}" .format(값)
* f"(값:>길이}"

* <10: 공간을 10칸 확보하고 글자릉 왼쪽 정렬

In [27]:
print("{0:<10}".format("삼성전자"))

삼성전자

In [28]:
"{0:<10}".format("삼성전자")

'삼성전자      '

In [29]:
"{0:>10}".format("삼성전자")

'      삼성전자'

In [30]:
f"{sam:<10}"

'삼성전자      '

In [31]:
f"{sam:>10}"

'      삼성전자'

# 숫자 표기시 숫자 자리수 맞추고 기본 값 지정하기

In [32]:
print("{0}월".format(1))

1월

In [33]:
print("{0:02d}월".format(1))

01월

In [34]:
print("{0:03d}월".format(1))

001월

In [35]:
print("{0:03d}월".format(10000))

10000월

In [36]:
print(f"{1:02d}월")

01월

In [37]:
print("{0:03.3f}".format(2.245678))

2.246

In [38]:
print("{0:06.3f}".format(2.245678))

02.246

In [39]:
print("{0:07.3f}".format(2.245678))

002.246

In [40]:
print("{0:07.4f}".format(2.245678))

02.2457

In [41]:
print("{0:07.5f}".format(2.245678))

2.24568

In [42]:
for i in range(12):
    print(f"{i:02d}")

00
01
02
03
04
05
06
07
08
09
10
11

In [43]:
# 빈자리를 0으로 채울 때
"{0:0>4}".format(1)

'0001'

In [44]:
f"{1:0>4}"

'0001'

In [45]:
# $로 채울 때
"{0:$>4}".format(1)

'$$$1'

In [46]:
f"{1:$>4}"

'$$$1'

In [47]:
f"{1:$<4}"

'1$$$'

In [48]:
f"{1:<4}"

'1   '

In [49]:
url = "https://finance.naver.com/sise/sise_trans_style.naver?sosok="

In [50]:
for i in range(1, 11):
    print(f"{url}{i:02d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10