# 파이썬 시작하기

In [1]:
# 1.
print("Hello World")

Hello World

In [2]:
# 2.
print("Marry's cosmetics")

Marry's cosmetics

In [3]:
# 3.
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [6]:
# 4.
print("C:\Windows")

C:\Windows

In [ ]:
# 5. \t는 탭을 의미, \n 은 줄바꿈

In [7]:
# 6.
print("오늘은", "일요일")

오늘은 일요일

In [8]:
# 7.
print("naver", "kakao", "sk", "samsung", sep = ";")

naver;kakao;sk;samsung

In [9]:
# 8.
print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [12]:
# 9.
print("first", end="");
print("second")

firstsecond

In [14]:
# 10.
print(5/3)

1.6666666666666667

# 파이썬 변수

In [ ]:
# 11.

In [16]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [17]:
# 12.
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [18]:
# 13.
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [19]:
# 14.
print(2 + 2 *3)

8

In [20]:
# 15.
a = 132
print(type(a))

<class 'int'>

In [21]:
# 16.
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [22]:
# 17.
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [23]:
# 18.
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [ ]:
# 19.

In [1]:
# 20.
월 = 48584
총금액 = 월*36
print(총금액)

1749024

In [2]:
# 21.
letters = 'python'
print(letters[0], letters[2])

p t

In [3]:
# 22.
license_plate = "24기 2210"
print(license_plate[-4:])

2210

In [4]:
# 23.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [5]:
# 24.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [6]:
# 25.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [7]:
# 26.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-','')
print(phone_number1)

01011112222

In [8]:
# 27.
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [9]:
# 28.
lang = 'python'
lang[0] = 'p'
print(lang)

TypeError: 'str' object does not support item assignment

In [10]:
# 29.
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [11]:
# 30.
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [12]:
# 31.
a = "3"
b = "4"
print(a+b)

34

In [13]:
# 32.
print("Hi" * 3)

HiHiHi

In [14]:
# 33.
print("-"*80)

--------------------------------------------------------------------------------

In [20]:
# 34.
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [23]:
# 35.
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [25]:
# 36.
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [26]:
# 37.
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [27]:
# 38.
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [28]:
# 39.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [29]:
# 40.
data = "   삼성전자   "
data1 = data.strip()
print(data1)

삼성전자

In [30]:
# 41.
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [32]:
# 42.
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [33]:
# 43.
a = "hello"
a = a.upper()
print(a)

HELLO

In [35]:
# 44.
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [39]:
# 45.
file_name.endswith(("xlsx", "xls"))

True

In [40]:
# 46.
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [41]:
# 47.
a = "hello world"
a.split()

['hello', 'world']

In [42]:
# 48.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [44]:
# 49.
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [51]:
# 50.
data = "039490     "
data = data.rstrip()
print(data)

039490

In [53]:
# 51.
movie_rank = ["닥터 스테리인지", "스플릿", "럭키"]

In [54]:
# 52.
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [55]:
# 53.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [56]:
# 54.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [57]:
# 55.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [58]:
# 56.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [59]:
# 57.
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [60]:
# 58.
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [61]:
# 59.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [62]:
# 60.
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

In [63]:
# 61.
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [64]:
# 62.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [65]:
# 63.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [66]:
# 64.
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [67]:
# 65.
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [68]:
# 66.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [69]:
# 67.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [70]:
# 68.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [71]:
# 69.
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [72]:
# 70.
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [74]:
# 71.
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [76]:
# 72.
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [79]:
# 73.
my_tuple = (1)
type (my_tuple)

int

In [80]:
# 74.
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax (2642300391.py, line 4)

In [82]:
# 76.
t[0] = 'A'
t = ('A', 'b', 'c')

NameError: name 't' is not defined

In [8]:
# 77.
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

In [9]:
# 78.
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)

In [10]:
# 79.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [11]:
# 80.
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [13]:
# 81.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
# 82.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [15]:
# 83.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [16]:
# 84.
temp = { }

In [17]:
# 85.
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [18]:
# 86.
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [19]:
# 87.
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [20]:
# 88.
ice["메로나"] = 1300

In [21]:
# 89.

del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [22]:
# 91.
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [23]:
# 92.
print(inventory["메로나"][0], "원")

300 원

In [24]:
# 93.
print(inventory["메로나"][1], "개")

20 개

In [25]:
# 94.
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [26]:
# 95.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [27]:
# 96.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [28]:
# 97.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [29]:
# 98.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [30]:
# 99.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [31]:
# 100.
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [32]:
# 101.
bool

bool

In [33]:
# 102.
print(3 == 5)

False

In [34]:
# 103.
print(3 < 5)

True

In [36]:
# 104.
x = 4
print(1 < x < 5)

True

In [37]:
# 105.
print((3 == 3) and (4 !=3))

True

In [38]:
# 106.
x

4

In [39]:
# 107.
if 4 < 3:
    print("Hello World")

In [40]:
# 108.
if 4 < 3:
    print("Hello World")
else:
    print("Hi, there.")

Hi, there.

In [41]:
# 109.
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [42]:
# 110.
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [43]:
# 111.
user = input("입력:")
print(user * 2)

입력:안녕하세요!
안녕하세요!안녕하세요!

In [44]:
# 112.
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 30
40

In [45]:
# 113.
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

30
짝수

In [47]:
# 114.
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값: 240
255

In [49]:
# 115.
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 15
0

In [51]:
# 116.
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 02:10
정각이 아닙니다.

In [54]:
# 117.
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?메론
오답입니다.

In [55]:
# 118.
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명: HLB
투자 경고 종목이 아닙니다.

In [56]:
# 119.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 겨울
오답입니다.

In [57]:
# 120.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

In [59]:
# 121.
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [60]:
# 122.
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 79
grade is B

In [62]:
# 123.
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [63]:
# 124.
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 17
input number2: 2
input number3: 29
29

In [64]:
# 125.
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 010-3858-5551
당신은 알수없음 사용자입니다.

In [65]:
# 126.
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 014
도봉구

In [67]:
# 127.
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 020520-3161718
남자

In [68]:
# 128.
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 020520-3161718
서울이 아닙니다.

In [69]:
# 129.
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 020520-3161718
유효한 주민등록번호입니다.

In [71]:
# 130.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

ModuleNotFoundError: No module named 'requests'

In [72]:
# 131.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [73]:
# 132.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [74]:
# 133.
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [75]:
# 134.
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [79]:
# 136.
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [80]:
# 137.
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [81]:
# 138.
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [82]:
# 139.
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [84]:
# 140.
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------